.taskItem{
    display: flex;
    gap: 10px;
    align-items: center;
    width: auto;/*para que se adapte al largo de la task*/
    height: 50px;
    overflow: hidden;  
}

.taskName{
    background-color: #eaeaea;
    color: darkslategray;
    font-size: 1.5rem;
    height: 100%;
    width: auto;
    padding-left: 10px;
    padding-right: 10px;
    flex-grow: 1;
    overflow-wrap: break-word;
}

.checkedLine {
    text-decoration: line-through;
    
}

.completedButton{
    background-color:#f26e79;
    color: white;
    font-size: 1.5rem;
    padding: 10px;
    height: 100%;
}

.completedButton:hover{
    /* color: #f26e79; */
    /* text-decoration: line-through; */
}

.completedButtonNoCheck{
    background-color:#f26e79;
    color: #f26e79;
    font-size: 1.5rem;
    padding: 10px;
    height: 100%;
}

.completedButtonNoCheck:hover{
    /* color: white; */
    /* text-decoration: line-through; */
}


.deletedButton{
    background-color: white;
    color: #b42d2d;
    border: none;
    font-size: 1.5rem;
    padding: 10px;
    height: 100%;
}

.deletedButton:hover {
    color: #f00c2b;
    /* box-shadow: 
    inset 1px 1px 4px #f00c2b,
    inset -1px -1px 4px #f00c2b; */
    /* border: solid #f00c2b; */

} 

.visibilityHidden{
    visibility: hidden;
}